@import '../../../assets/scss/main.scss';

.paging {
  width: fit-content;
  display: flex;
  align-items: center;

  &__numbers {
    margin: 0 31px;
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000;

    @include onMobile {
      font-size: 22px;
    }

    & span {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  &__arrow-left {
    padding: 9px 9px 9px 0;
    cursor: pointer;
  }

  &__arrow-right {
    padding: 9px 0 9px 9px;
    cursor: pointer;
  }
}